{% extends 'base.html' %}

{% block title %}
About This Site | Hk Text Analyzer
{% endblock title %}

{% block body %}
<h1 style='margin-top:3rem; text-align:center'>About HK Text Analyzer</h1>
<br>
<p style='text-align:center'>
This is a basic website While helps your text to look better with a little no. of functions. You can do a lot of stuff here like
</p>
<h5 style='margin-top:1.2rem; text-align:center'>⚫Remove Punctuations</h5>
<h5 style='margin-top:1.2rem; text-align:center'>⚫Remove Extra Spaces</h5>
<h5 style='margin-top:1.2rem; text-align:center'>⚫Remove New Lines</h5>
<h5 style='margin-top:1.2rem; text-align:center'>⚫Capitalize First Letter of each Word.</h5>
<h5 style='margin-top:1.2rem; text-align:center'>⚫Capitalize the whole Text.</h5>
<h5 style='margin-top:1.2rem; text-align:center'>⚫Count Number of Characters</h5>
<p style='text-align:center; margin-top:2rem'>
I will add more features to this website soon...</p>
{% endblock body %}